.h1
{
	text-align:	 center;
	font-family: Delius Unicase;
	font-size: 25px;
	color: #FB466C;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
.p1
{
	text-align: center;
	font-family: 'Droid Arabic Naskh', serif;
	font-size: 36px;
	color: #ADF7B2;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
  font-family: arial;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-family: arial;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  font-family: arial;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
  font-family: arial;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
  font-family: arial;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.p2
{
	text-align: center;
	font-family: 'Droid Arabic Naskh', serif;
	font-size: 15px;
	color: #C5C4C4;	
}